{{!-- brand container --}}
<div class="container">

  {{!-- second "nav" --}}
  <div class="row center-align" style="min-height: 30px" id="sec-nav">


    <div class="category-btn" id="mind">
      <div class="col s2">
        <a href="/categories/women-mind-body">Mind & Body</a>
      </div>
    </div>

    <div class="category-btn" id="love">
      <div class="col s2">
        <a href="/categories/intimacy">Love & Intimacy</a>
      </div>
    </div>

    <div class="category-btn" id="fertility">
      <div class="col s2">
        <a href="/categories/pregnancy">Fertility & Pregnancy</a>
      </div>
    </div>

    <div class="category-btn" id="family">
      <div class="col s2">
        <a href="/categories/parenting">Family & Parenting</a>
      </div>
    </div>

    <div class="category-btn" id="health">
      <div class="col s2">
        <a href="/categories/women&health">Women’s Health</a>
      </div>
    </div>

    <div class="category-btn" id="work">
      <div class="col s2">
        <a href="/categories/women-in-the-workplace">Women in the Workplace</a>
      </div>
    </div>

  </div>
</div>

{{!-- Image Banner --}}
<div class="row" id="categories-image-section">
  {{#render_category "women-mind-body" this.category}}
  {{> mind-body}}
  {{/render_category}}

  {{#render_category "intimacy" this.category}}
  {{> love-intimacy}}
  {{/render_category}}

  {{#render_category "pregnancy" this.category}}
  {{> fertility-pregnancy}}
  {{/render_category}}

  {{#render_category "parenting" this.category}}
  {{> family-parenting}}
  {{/render_category}}

  {{#render_category "women&health" this.category}}
  {{> womens-health}}
  {{/render_category}}

  {{#render_category "women-in-the-workplace" this.category}}
  {{> women-workplace}}
  {{/render_category}}

  {{#render_category "women-topics" this.category}}
  {{> categories-landing}}
  {{/render_category}}

  {{!-- Article Results go here dynamically using API and javascript--}}
  <div class="container results-body">
    <div class="row">
      {{#each result}}
      <div class="col s12 m6 l4 article-card" id="category-articles">
        <a target="blank" href="{{this.url}}">
          <div class="card">
            <div class="card-image" id="urlImage">
              <img src="{{this.urlToImage}}" alt="article"></div>
          </div>
          <div class="card-content center-align">
            <p>{{this.publishedAt}}</p>
            <span>
              <h6>{{this.title}}</h6>
            </span>
            <p>By: {{this.author}}</p>
          </div>
        </a>
      </div>
      {{/each}}
    </div>
  </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>