{{!-- brand container --}}
  <div class="container">

    {{!-- second "nav" --}}
    <div class="row center-align" style="min-height: 30px" id="sec-nav">

      <div class="mind">
        <div class="col s2">
          <a href="/api/categories/women&body">Mind & Body</a>
        </div>
      </div>

      <div class="love">
        <div class="col s2">
          <a href="/api/categories/intimacy">Love & Intimacy</a>
        </div>
      </div>

      <div class="fertility">
        <div class="col s2">
          <a href="/api/categories/pregnancy">Fertility & Pregnancy</a>
        </div>
      </div>

      <div class="family">
        <div class="col s2">
          <a href="/api/categories/parenting">Family & Parenting</a>
        </div>
      </div>

      <div class="health">
        <div class="col s2">
          <a href="/api/categories/women&health">Women’s Health</a>
        </div>
      </div>

      <div class="work">
        <div class="col s2">
          <a href="/api/categories/women-in-the-workplace">Women in the Workplace</a>
        </div>
      </div>

    </div>
</div>


{{!-- Hero Banner --}}
<div class="row">
    <div class="hero-image" id="categories-hero-image">
      <div class="hero-text">
        <h3>Women's Health</h3>
      </div>
    </div>
</div>

{{!-- Related Articles Section --}}
<div class="row results-header">
    <div class="col s12 center-align">
        <h5>Related Articles</h5>
        <hr align="center" width="30%">
    </div>
</div>

{{!-- Article Results go here dynamically using API and javascript--}}
  {{!-- {{#if result.articles}} --}}
  
  <div class="row container results-body">
    {{#each result}}
      <div class="col s12 m6 l4 article-card">
        <a target="blank" href="{{this.url}}">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img src="{{this.urlToImage}}" alt="article"></div>
        </div>
          <div class="card-content center-align">
            <p>{{this.publishedAt}}</p>
            <span>{{this.title}}</span>
            <p>By: {{this.author}}</p>
          </div>
        </a>
      </div>
      <br>
        {{/each}}
  </div>


  {{!-- {{/if}} --}}
 

