<div id="home">

  {{!-- brand container --}}
  <div class="container">

    {{!-- second "nav" --}}
    <div class="row center-align" style="min-height: 30px" id="sec-nav">

      <div class="category-btn" id="mind">
        <div class="col s2">
          <a href="/categories/women-mind-body">Mind & Body</a>
        </div>
      </div>

      <div class="category-btn" id="love">
        <div class="col s2">
          <a href="/categories/intimacy">Love & Intimacy</a>
        </div>
      </div>

      <div class="category-btn" id="fertility">
        <div class="col s2">
          <a href="/categories/pregnancy">Fertility & Pregnancy</a>
        </div>
      </div>

      <div class="category-btn" id="family">
        <div class="col s2">
          <a href="/categories/parenting">Family & Parenting</a>
        </div>
      </div>

      <div class="category-btn" id="health">
        <div class="col s2">
          <a href="/categories/women&health">Women’s Health</a>
        </div>
      </div>

      <div class="category-btn" id="work">
        <div class="col s2">
          <a href="/categories/women-in-the-workplace">Women in the Workplace</a>
        </div>
      </div>

    </div>
  </div>

  {{!-- slider --}}
  <div class="slider">
    <ul class="slides">
      <li>
        <a href="/categories/women-mind-body">
        <img src="/images/mind-body.jpg">
        <div class="caption center-align">
          <h3>Mind & Body</h3>
        </div>
        </a>
      </li>
      <li>
        <a href="/categories/intimacy">
        <img src="/images/love-intimacy.jpg">
        <div class="caption center-align">
          <h3>Love & Intimacy</h3>
        </div>
        </a>
      </li>
      <li>
        <a href="/categories/pregnancy">
        <img src="/images/pregnancy.jpg">
        <div class="caption center-align">
          <h3>Fertility & Pregnancy</h3>
        </div>
        </a>
      </li>
      <li>
        <a href="/categories/parenting">
        <img src="/images/parenting.jpg">
        <div class="caption center-align">
          <h3>Family & Parenting</h3>
        </div>
        </a>
      </li>
      <li>
        <a href="/categories/women&health">
        <img src="/images/womens-health.jpg">
        <div class="caption center-align">
          <h3>Women's Health</h3>
        </div>
        </a>
      </li>

      <li>
        <a href="/categories/women-in-the-workplace">
        <img src="/images/women-working.jpg">
        <div class="caption center-align">
          <h3>Women in the Workplace</h3>
        </div>
        </a>
      </li>
    </ul>
  </div>

  <div class="container">
    {{!-- quote --}}
    <div class="row">
      <div class="col s12">
        <blockquote>
        <h5>
          "One's life has value as long as one attributes value to the life of others, by means of love, friendship,
          indignation, and compassion." - Simone de Beauvoir
        </h5>
        </blockquote>
      </div>
    </div>

    <div class="row center-align">
      <h5>What We're About</h5>
      <hr align="center" width="30%">
    </div>
    
    <div class="row">
      <h6>As a female-led team, our goal is to raise awareness on a variety of women's issues and advocate for women’s
        health and safety. We provide a safe environment for women and other marginalized groups to find information and ask
        for non-emergency assistance from their community. We see a world where all of our neighbors have access to a
        supportive community, one where everyone works together to help one another. Our mission is to enhance the lives of
        those in need by offering our compassion, skills and services to all.
      </h6>
    </div>
  </div>

{{!-- About Categories/News --}}

<div class="row container">

  <div class="row center-align">
    <div class="col s12 m4">
      <img src="/images/article-icon.png" alt="article-icon" id="article-icon">
      <div class="card concept-card">
        <div class="card-content grey-darken-3-text">
          <span class="card-title">Explore</span>
          <p>We provide a dedicated space for women of all ages and allies of women to explore stories, articles, blogs,
            and advice on a wide range of women’s topics from family planning to health and exercise to women in the
            workplace. Discover new stories that resonate with you.
          </p>
        </div>
        <div class="card-action" style="border:none">
          <a class="waves-effect waves-light btn modal-trigger" href="/categories/category" id="card-btn">Learn More</a>
        </div>
      </div>
    </div>

    {{!-- About Services Concept --}}

    <div class="col s12 m4">
      <img src="/images/service-icon.png" alt="service-icon" id="service-icon">
      <div class="card concept-card">
        <div class="card-content grey-darken-3-text">
          <span class="card-title">Service</span>
          <p>We offer a wide range of services you can book with our fully vetted team of volunteers while also providing a
            safe and secure environment to request assistance. Whether you need your lawn mowed or someone to pick up your
            groceries or a ride to the clinic, we are here to help!</p>
        </div>
        <div class="card-action" style="border:none">
          <a class="waves-effect waves-light btn modal-trigger" href="/services" id="card-btn">Learn More</a>
        </div>
      </div>
    </div>

    {{!-- About Volunteering --}}
    <div class="col s12 m4">
      <img src="/images/community-icon.png" alt="community-icon" id="community-icon">
      <div class="card concept-card">
        <div class="card-content grey-darken-3-text">
          <span class="card-title">Community</span>
          <p>Volunteering will give you the chance to create the kind of community you would like to live
            in. We strive to provide meaningful connections to all and give back to neighbors who need a
            little help. Find something tailored to your schedule and interests.</p>
        </div>
        <div class="card-action" style="border:none">
          <a class="waves-effect waves-light btn modal-trigger" href="/services" id="card-btn">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>

    {{!-- latest posts --}}
<div class="row results-header">
    <div class="col s12 center-align">
        <h5>Women in the News</h5>
        <hr align="center" width="30%">
    </div>
</div>

    {{!-- cards, content to be generated dynamically --}}
  
  <div class="container results-body">
    <div class="row">
      {{#each result}}
      <div class="col s12 m6 l4 article-card" id="index-articles">
        <a target="blank" href="{{this.url}}">
        <div class="card">
          <div class="card-image" id="urlImage">
            <img src="{{this.urlToImage}}" alt="article"></div>
        </div>
          <div class="card-content center-align">
            <p>{{this.publishedAt}}</p>
            <span><h6>{{this.title}}</h6></span>
            <p>By: {{this.author}}</p>
          </div>
        </a>
      </div>
      {{/each}}
    </div>
  </div>

    {{!-- example code below --}}

  </div>
</div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>