<div id="services">

    {{!-- Brand Container --}}

    <br>
    <br>
    <div class="container">
        <div class="row center-align">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card">
                        <img class="responsive-img" src="/images/services.jpg">
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card-panel transparent">
                    <h5>We see a world where all of our neighbors have access to supportive community,
                        one where everyone works together to help one another. Our mission is to enhance
                        the lives of those in need by offering our compassion, skills and services to all.
                        Please see the services we offer below.</h5>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container" id="explore_services">
        <div class="row">
            <div class="col s12" id="services">
                <h5>Explore Services</h5>
                <hr align="center" width="30%">
            </div>
        </div>

        {{!-- Available Services --}}

        <div class="row">
            <div class="col s12 m4">
                <div class="card" id="service_image">
                    <div class="card-image">
                        <img src="/images/babysitting.jpg">
                    </div>
                    <span class="card-title title">Babysitting</span>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card" id="service_image">
                    <div class="card-image">
                        <img src="/images/errands2.jpg">
                    </div>
                    <span class="card-title title">Errands</span>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card" id="service_image">
                    <div class="card-image">
                        <img src="/images/groceries2.jpg">
                    </div>
                    <span class="card-title title">Groceries</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4">
                <div class="card" id="service_image">
                    <div class="card-image">
                        <img src="/images/houseprojects.jpg">
                    </div>
                    <span class="card-title title">Home Projects</span>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card" id="service_image">
                    <div class="card-image">
                        <img src="/images/housekeeping.jpg">
                    </div>
                    <span class="card-title title">Housekeeping</span>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card" id="service_image">
                    <div class="card-image">
                        <img src="/images/petcare.jpg">
                    </div>
                    <span class="card-title title">Pet Care</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4">
                <div class="card" id="service_image">
                    <div class="card-image">
                        <img src="/images/transportation.jpg">
                    </div>
                    <span class="card-title title">Transportation</span>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card" id="service_image">
                    <div class="card-image">
                        <img src="/images/yardwork2.jpg">
                    </div>
                    <span class="card-title title">Yardwork</span>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card" id="service_image">
                    <div class="card-image">
                        <img src="/images/moving.jpg">
                    </div>
                    <span class="card-title title">Movers</span>
                </div>
            </div>
        </div>
    </div>

    {{!-- User account signup --}}

    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content grey-darken-3-text">
                        <span class="card-title">Create a User Account</span>
                        <p>If you're looking to sign up to be a volunteer or request services, start here and become a
                            Lean-To user!</p>
                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn modal-trigger" href="#modal-user-form"
                            id="user-btn">Sign-up!</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container" id="signup">

        {{!-- Hero Banner --}}

        <div class="row">
            <div class="hero-image" id="services-hero-image">
                <p id="request_volunteer">Request services or volunteer today!</p>
            </div>
        </div>
    </div>
</div>

{{!-- User Modal --}}

<div id="modal-user-form" class="modal">
    <h4>Become a User:</h4>
    <div class="row">
        <div class="col s12">
            <h6>
                You will need to create a user account to be able to sign up to volunteer or request services.
            </h6>
        </div>
    </div>
    <br>
    <h4>Contact Information</h4>
    <div class="row">
        <form class="col s12" id="user-form">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Jane" id="user-first-name" type="text" class="validate">
                    <label for="user-first-name">First Name: </label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Smith" id="user-last-name" type="text" class="validate">
                    <label for="user-last-name">Last Name: </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="123 Main Street" id="address" type="text" class="validate">
                    <label for="address">Address: </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Apt. 137" id="address-2" type="text" class="validate">
                    <label for="address-2">Address: </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s3">
                    <input placeholder="Kansas City" id="city" type="text" class="validate">
                    <label for="city">City: </label>
                </div>
                <div class="input-field col s3">
                    <input placeholder="Kansas" id="state" type="text" class="validate">
                    <label for="state">State: </label>
                </div>
                <div class="input-field col s3">
                    <input placeholder="66012" id="zip-code" type="text" class="validate">
                    <label for="zip-code">Zip Code: </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s3">
                    <input placeholder="123-456-7890" id="phone-number" type="text" class="validate">
                    <label for="phone-number">Phone Number: </label>
                </div>
                <div class="input-field col s3">
                    <input placeholder="email@something.com" id="email" type="text" class="validate">
                    <label for="email">Email: </label>
                </div>
                <div class="input-field col s3">
                    <input placeholder="01/01/2001" id="birthday" type="text" class="validate">
                    <label for="birthday">Date of Birth: </label>
                </div>
            </div>
            <div class="row">
                <h6>What pronouns do you prefer?</h6>
                <div class="col s12">
                    <p>
                        <label>
                            <input id="male" class="with-gap" name="gender" type="radio" />
                            <span>He/Him</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input id="female" class="with-gap" name="gender" type="radio" />
                            <span>She/Her</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input id="non-binary" class="with-gap" name="gender" type="radio" />
                            <span>They/Them</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input id="denies" class="with-gap" name="gender" type="radio" />
                            <span>Prefer not to disclose</span>
                        </label>
                    </p>
                </div>
            </div>
            <div class="row">
                <h6>Do you want to volunteer or request services:</h6>
                <div class="col s12">
                    <p>
                        <label>
                            <input id="volunteer-chosen" class="with-gap" name="role" type="radio" />
                            <span>Volunteer</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input id="request-services-chosen" class="with-gap" name="role" type="radio" />
                            <span>Request Services</span>
                        </label>
                    </p>
                </div>
            </div>
            <div class="row append-h6">
                <div class="col s12" id="append-radios-checkmarks"></div>
            </div>
            <a class="modal-close waves-effect waves-light btn" id="submit-user">Submit</a>
        </form>
    </div>
</div>

{{!-- List of all Users --}}

<div class="row">
    <div class="col-8 offset-2">
        <form class="clearfix mb-4" action="POST">
            <div class="form-group">
                <label for="user-name">User Name</label>
                <input type="text" id="user-name" class="form-control" aria-describedby="first_name"
                    placeholder="Enter your name...">
            </div>
            <button id="submit_user" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Users:</h3>
        <ul id="volunteer-list" class="list-group">
            {{#each users}}
            <li data-id="{{this.id}}" class="list-group-item">
                <a href="example/{{this.id}}">{{this.first_name}} {{this.last_name}}</a>
                <button class="btn btn-danger float-right delete">ｘ</button>
            </li>
            {{/each}}
        </ul>
    </div>
</div>

{{!-- List of volunteers --}}

{{!-- <div class="row">
    <div class="col-8 offset-2">
        <form class="clearfix mb-4" action="POST">
            <div class="form-group">
                <label for="vol-name">Volunteer Name</label>
                <input type="text" id="vol-name" class="form-control" aria-describedby="vol-name"
                    placeholder="Enter your name...">
            </div>
            <button id="submit_volunteer" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Volunteers:</h3>
        <ul id="volunteer-list" class="list-group">
            {{#each volunteers}}
            <li data-id="{{this.id}}" class="list-group-item">
                <a href="example/{{this.id}}">{{this.vol_name}}, {{this.availabilty}}</a>
                <button class="btn btn-danger float-right delete">ｘ</button>
            </li>
            {{/each}}
        </ul>
    </div>
</div> --}}